body {
    padding-top: 90px;
}
.navbar-nav>li>a {
	line-height: 30px;
}

.table {
	background-color: #ffffff;
	color: black;
	overflow: auto;
}

.table thead tr th {
	font-weight: bold;
	font-size: 14px;
	color: #152935;
	font-family: inherit;
	background: #41d6c3;
}

.table tbody tr td {
	font-size: 14px;
	color: #555;
	font-family: inherit;
}

.modal-content .well {
  margin-bottom: 0;
}

.short-input {
  width: 200px;
}

.inline {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.inline-glyphicon {
  padding-right: 5px;
}

.alert {
  margin: 5px;
  position: relative;
}

.date {
  color: #333;
}

.shorter-input-field {
  width: 80%;
}

hr {
	border: 0.5px solid #3d70b2
}
h3
{
	color:#3d70b2;
}

.bootstrap-datetimepicker-widget {
  text: black;
}

.loadingOverlayContainer {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 32, 49, 0.8);
	z-index: 100;
}

.loadingContainer {
	width: 90px;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 45px);
	left: calc(50% - 45px);
}

.small-text-table thead tr th {
  font-size: small
}

.small-text-table tbody tr td {
  font-size: small
}

.shadowed {
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
}

.no-border {
	border-width: 0;
}

.special-border {
	border-color: #41d6c3;
}

.light-border {
	border-color: white;
}

.dark-border {
	border-color: black;
}

.base-color {
	background-color: #00598A;
	color: white;
}

.base-color2 {
	background-color: #192934;
	color: white;
}

.base-color3 {
	background-color: #367AA3;
	color: white;
}

.base-color4 {
	background-color: #f5f7fa;
	color: Black;
}

.light-color {
	background-color: #eff2f5;
	color: black;
}

.light-color2 {
	background-color: #white;
	color: black;
}

.special-color {
	background-color: #41d6c3;
	color: black;
}

.special-link {
  color: #41d6c3;
}

.special-link:visited {
  color: #41d6c3;
}

.special-link:hover {
	color: white;
}

.small-nav {
	height: 40px;
	min-height: 40px;
	margin: 0;
	padding: 0;
}

.small-nav li a {
	padding-top: 0px;
}

.lower-nav {
	top: 40px;
}

#application-name {
	color: white;
	margin: 24px;
	font-size: 28px;
}

.button-color {
	color: #5aaafa;
}

.button-color:visited {
	color: #5aaafa;
}

.button-color:hover {
	color: #eff2f5;
}

.navbar-default .navbar-nav li a {
    color: #5aaafa;
}

.navbar-default .navbar-nav li a:visited {
    color: #5aaafa;
}

.navbar-default .navbar-nav li a:hover {
    color: #eff2f5;
}

.inline-icon {
	width: 24px;
	height: 24px;
	display: inline;
	margin-right: 5px;
	margin-left: 10px;
}
.score-button {
	margin: 20px;
}

.ibm-icon {
	margin-top: 14px;
	width:60px;
}
.roche-icon {
	height: 50px;
}
.loader {
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(0) rotate(300deg);
  transform: translateZ(0) rotate(300deg);
  -webkit-transform-origin: 25px 25px;
  transform-origin: 25px 25px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: b 4s ease-out infinite;
  animation: b 4s ease-out infinite;
}

.loader .loader__path {
  stroke-dasharray: 125px;
  stroke-dashoffset: 9.7px;
  r: 20px;
  cx: 50px;
  cy: 50px;
  fill: transparent;
  stroke: #a6266e;
  stroke-width: 4.65116px;
  stroke-linecap: butt;
  transition: stroke-dashoffset 1s cubic-bezier(.5,.08,0,1);
  -webkit-animation: a 4s ease-out infinite;
  animation: a 4s ease-out infinite;
}

.large {
  width: 90px;
  height: 90px;
}

.loader--dark .loader__path {
  stroke: #41d6c3;
}

.green { color:green;}

.hidden {display:none;}

.result {

  font-size: 1.2em;
  font-weight: bold;
  width: 90%;
  margin: auto;
  text-align: center;
  height:150px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.result span {
  padding:20px;
}
.between-text {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
  font-style: italic;
}

.input-group-addon { width: 75px; }

.graph img,.graph button {
  display:block;
  margin:auto;
}

 .acti {
  color: #27958D !important;
}


@font-face {
  font-family: 'IBMPlex';
  src: url('../fonts/IBMPlexSans-Regular-V01.1.eot'); /* IE9 Compat Modes */
  src: url('../fonts/IBMPlexSans-Regular-V01.1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/IBMPlexSans-Regular-V01.1.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/IBMPlexSans-Regular-V01.1.woff') format('woff'), /* Pretty Modern Browsers */
}


@-webkit-keyframes a {
  0% {
    stroke-dashoffset: 9.7px;
  }

  60% {
    stroke-dashoffset: 113.52px;
  }

  to {
    stroke-dashoffset: 9.7px;
  }
}

@keyframes a {
  0% {
    stroke-dashoffset: 9.7px;
  }

  60% {
    stroke-dashoffset: 113.52px;
  }

  to {
    stroke-dashoffset: 9.7px;
  }
}

@-webkit-keyframes b {
  0% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  60% {
    -webkit-transform: rotate(1320deg);
    transform: rotate(1320deg);
  }

  to {
    -webkit-transform: rotate(2100deg);
    transform: rotate(2100deg);
  }
}

@keyframes b {
  0% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  60% {
    -webkit-transform: rotate(1320deg);
    transform: rotate(1320deg);
  }

  to {
    -webkit-transform: rotate(2100deg);
    transform: rotate(2100deg);
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

.navbar-right {float: right !important;}

@media(max-width:1442px)
{
    .navbar-right {margin-right:20px;}
    .navbar-header:after
    {
    clear: none;
    }
    .navbar-right { float: left; }
    .navbar-collapse:before {clear:both;}
    .navbar-collapse {overflow-y: hidden;}

}
